QMainWindow {
    background-color: grey;
}

QGroupBox {
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #E0E0E0, stop: 1 #FFFFFF);
    border: 2px solid red;
    border-radius: 5px;
    margin-top: 1ex; 
	font-size: 20px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top center; 
    padding: 0 3px;  
    color: rgb(5, 35, 64);
}

QLabel#tlblLbl, QLabel#predLbl {
    font-size: 10px;
    color: black;
}

QPushButton {
    background-color: rgb(192, 187, 187)07); 
    color: black;
}

QPushButton:pressed {
    background-color: rgb(71, 71, 99); 
    color: black;
}

QPushButton:checked {
    background-color: blue; 
    color: black;
}